@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{}

<h1>About This Archive</h1>
<br />
<p1>We have opened this page in the hopes that people can remember and cherish some of the old pices of media we all loved. 
    Between niche shows we watched at midnight, to movies you only ever saw straight on DvD. While we don't have ways of letting
    our viewers watch amd play these memories again, at the very least enjoy reading through these redeiscovered classics!
</p1>

<br/>
<p2> If you have any more movies, TV shows or classic games you believe we should add, contact us at 
    <br />Phone: xxx-xxx-xxxx
    <br/>Email: Email@Address.com

</p2>